# Dependencies
node_modules/
package-lock.json

# Build output
.next/

# Environment variables
.env
.env.local
.env.*.local

# Database
dev.db
dev.db-journal

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Other
exam.py